.grid-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    align-items: center; /* Align items vertically in the center */
    background-color: #ffffff; /* White background for readability */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    padding: 15px; /* Padding inside the card */
    margin: 10px 0; /* Vertical margin for spacing between cards */
    transition: transform 0.3s; /* Smooth transform on hover */
    width: 100%; /*Ensure the card stretches to fill the grid column*/

}

.grid-container:hover {
    transform: translateY(-5px); /* Lift effect on hover for interactivity */
}

ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* No padding */
    margin: 0; /* No margin */
}

.id-name, .id-email {
    margin-bottom: 10px; /* Spacing between text elements */
    font-size: 1em; /* Appropriate font size */
}

.id-name {
    font-weight: bold; /* Bold font for name for emphasis */
    color: #333; /* Darker text for name */
}

.id-email {
    color: #555; /* Slightly lighter color for email */
}
